.finished {
  padding: 10px;
  margin-top: 20px;
  width: 600px;
  border: 2px solid white;
  border-radius: 10px;
}

.result {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  width: 600px;
}
.errorAnswer{
  color:rgb(161, 161, 161)
}

.finished ul li p {
  width: 100%;
}
.finished ul li {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 4px;
  color: white;
  border-bottom: 1px dotted white;
}
.checkIcon,
.crossIcon{
    font-size: 16px;
}
.checkIcon{color: lightgreen;}
.crossIcon{
    color: red;
}


