.layout {
  margin: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.layout main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
